*{
    text-decoration: none;
}

body{
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}   

nav{
    background-color: rgb(251, 233, 233);
    
}

nav a{
    padding-left: 50px;
    color: black;
}

nav form .btn{
margin: 8px;
}


/*In this area, the items and buttons on the page are sorted and arranged */

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    margin: 30px;
}

.mbtn {
    position: relative;
    width: 500px;
    right: -30px;
    margin-top: 20px;
    
}

.mbtn button{
    color: black;
    background-color: rgb(231, 85, 85);
    height: 41px;
    border-radius: 5px;
    border: 1px solid grey;
    position: relative;
    
}

.mbtn a{
    padding: 0;
    height: 30px;
    width: 100px;
    text-decoration: none;
    border: 1px solid rgb(112, 105, 105);
    color: white;
    background-color: grey;
    border-radius: 5px;
    padding: 10px;
    position: relative;
   
}

table{
    background-color: rgb(254, 243, 243);
    height: 90%;
    width: 90%;
    float: left;
  box-sizing: border-box;
  border: 2px solid grey;
  border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    
}

td{
    display: block;
    flex-direction: column;
    padding: 15px;
}


.fieldbox{
    display:none;
}

.addform{
   margin: 50px;
   padding-left: 30px;
   padding-top: 20px;
}

form input{
    padding: 0px;
}

form{
    height: 100%;
    width: 100%;
    margin: auto;
}

.form2{
    padding-left: 50px;
    padding-top: 50px;
    position: relative;
    height: auto;
    width: auto;
    
}

form input{
    padding: 5px;
    margin: 5px;  
}

form input .sbtn{
    margin-left: 150px;
}

/*In this area, the buttons on the new item add page have been arranged */

.pabuttons{
    margin: 15px 0px 0px 120px;
}

.pabuttons input{  
    text-decoration: none;
    border: 1px solid rgb(112, 105, 105);
    color: white;
    background-color: grey;
    border-radius: 5px;
    padding: 10px;
}

.pabuttons button{
    height: 45px;
    color: black;
    background-color: rgb(231, 85, 85);
    border-radius: 5px;
    border: 1px solid grey;
}

.pabuttons button a{
    color: black;
    height: 45px;
    width: 100px;
}
